<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Workout Tracker</title>
    <link href="/static/styles/style.css" rel="stylesheet"/>
    <script src="static/scripts/index.js" type="text/javascript"></script>
</head>

<body>
<div>
    <div class="contentHeader" id="currentUser"></div>
    <div class="contentTitle">Workout Tracker</div>
    <div class="contentHeader" id="currentTime"></div>
</div>
<!-- Content starts below -->
<div>
    <p class="activityTitle">Menu</p>
</div>
<div class="border btnHomeContainer" id="activity-buttons-container">
    <div class="border">
        <div class="border inputContainer" id="workout_button_container">
            <button class="btnActivity" id="workout-button" onclick="window.location.href='/select-activity'">
                Select Workout
            </button>
        </div>
        <div class="border inputContainer" id="manage_act_btn_container">
            <button class="btnActivity" onclick="window.location.href='/manage-activities'">
                Manage Activities
            </button>
        </div>
        <div class="border inputContainer" id="manage_user_btn_container">
            <button class="btnActivity" onclick="window.location.href='/manage-users'">
                Manage Users
            </button>
        </div>
        <div class="border inputContainer" id="change_user_button_container">
            <button class="btnActivity" onclick="change_user()">
                Change User
            </button>
        </div>
    </div>
</div>
</body>

</html>