<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Workout Tracker</title>
    <link href="/static/styles/style.css" rel="stylesheet"/>
    <script src="static/scripts/index.js" type="text/javascript"></script>
</head>

<body>
<div>
    <div class="contentHeader" id="activeUser">
        Active User: {{active_user}}
    </div>
    <div class="contentTitle">Workout Tracker</div>
    <div class="contentHeader" id="currentTime"></div>
</div>
<div class="btnActivityContainer" id="activity-buttons-container">
    <button class="btnActivity" onclick="window.location.href='/select-activity'">
        Select Workout
    </button>
</div>
</body>

</html>