<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Workout Tracker</title>
    <link href="/static/styles/style.css" rel="stylesheet"/>
    <script src="static/scripts/manage-activities.js" type="text/javascript"></script>
</head>

<body>
<div>
    <div class="contentHeader" id="currentUser"></div>
    <div class="contentTitle">Workout Tracker</div>
    <div class="contentHeader" id="currentTime"></div>
</div>
<!-- Content starts below -->
<div>
    <p class="activityTitle">Select activity to edit</p>
</div>
<div class="btnActivityContainer" id="activities-buttons-container"></div>
<div class="btnHomeContainer" id="add-button-container">
    <button class="btnActivity" onclick="select_activity()">
        Add Activity
    </button>
    <button class="btnActivity" onclick="window.location.href='/'">
        Home
    </button>
</div>
</body>

</html>