<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Workout Tracker</title>
    <link href="/static/styles/style.css" rel="stylesheet"/>
    <script src="static/scripts/select-activity.js" type="text/javascript"></script>
</head>

<body>
<div>
    <div class="contentHeader" id="activeUser">
        Active User: {{active_user}}
    </div>
    <div class="contentTitle">Workout Tracker</div>
    <div class="contentHeader" id="currentTime"></div>
</div>
<div class="btnActivityContainer" id="activity-buttons-container"></div>
<div class="btnHomeContainer" id="home-button-container"></div>
</body>

</html>