<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Workout Tracker</title>
    <link href="/static/styles/style.css" rel="stylesheet"/>
    <script src="static/scripts/workout-control.js" type="text/javascript"></script>
</head>

<body>
<div>
    <div class="contentHeader" id="activeUser">
        Active User: {{active_user}}
    </div>
    <div class="contentTitle">Workout Tracker</div>
    <div class="contentHeader" id="currentTime"></div>
</div>
<!-- Content starts below -->
<div id="activity-name-container"></div>
<div class="border" id="workout-timer-container">
    <div class="border timerContainer" id="workoutTimerText"></div>
</div>
<div class="border" id="set-timer-container">
    <div class="border timerContainer" id="setTimerText"></div>
</div>
<div class="btnActivityContainer" id="control-button-container"></div>
</body>

</html>