body {
  font-family: Arial, Helvetica, sans-serif;
  color: #DADBDD;
  background-color: #3A3B3C;
}

/* Style the content for Index page*/
.contentTitle{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	padding: 5px;
}

.contentHeader{
	padding: 50px;
	font-weight: bold;
}

.content {
  margin-left: 200px;
  padding-left: 20px;
}

#activeUser{
position: absolute;
    left: 0;
    top: 0;
}

#currentTime{
position: absolute;
    right: 0;
    top: 0;
}

.btnActivityContainer{
    display: flex;
    justify-content: center; /* Align items horizontally centered */
    flex-wrap: wrap; /* Enable wrapping of items */
    gap: 10px; /* Optional: Add space between buttons */
    padding: 50px; /* Optional: Add padding to the container */
    }

.btnActivity{
    font-size: 30px;
    border-radius: 12px;
    flex: 1 1 auto; /* Allow buttons to grow and shrink as necessary */
    width: 250px;
    max-width: 250px;
    height: 100px;
    background-color: #DADBDD;
}

.btnActivity:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}